.todo {
    align-self: center;
    color: white;
  }
  
  .todo .crossText {
    text-decoration: line-through;
    background: wheat;
    color: black;
  }
  
  .todo input {
    background: transparent;
    border: 2px groove;
    color: rgb(14, 13, 13);
    border-bottom: none;
    min-width: 300px;
    margin-top: 0px;
    padding: 5px;
    font-size: 20px;
    font-family:'arial';
  
  }
  
  .todo input::placeholder {
    color: rgb(107, 43, 6);
    font-size: 1.3rem;
    background: rgb(247, 244, 244);
  }
  
  .todo input:focus {
    outline: none;
    border:none ;
    background:rgb(247, 244, 244);
    
  }
  
  .todo .add-btn {
    padding: 10px;
    border-radius: 10px;
    color: black;
    font-size: large;
    background-color: rgb(223, 158, 59);
    border: none;
    margin-left: 25px;
    border: 2px solid whitesmoke;
  }
  
  
  .todo ul {
    margin-top: 30px;
    font-size: 1.5rem;
  }
  
  .todo ul li {
    list-style: none;
    margin-bottom: 2px;
  
    border: 2px solid white;
    border-radius: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 3px;
    margin-left: -50px;
    background-color:none;
    font-family:'Times New Roman';
    font-style: italic;
    color: rgb(7, 7, 7);
  }
  .todo ul li .delete {
    margin-top: 5px;
    float: right;
    padding: 4px 10px 4px 10px;
    border-radius: 0px;
    border: none;
    cursor: pointer;
    background-color: red;
    color: white;
  }
  
  .todo ul li .completed {
    margin-top: 5px;
    float: right;
    padding: 4px 10px 4px 10px;
    border-radius: 0px;
    border: none;
    cursor: pointer;
    background-color: green;
    margin-left: 10px;
    color: white;
  }
  
